@main("Dashboard") {

    <div class="container">
        <div>
        @if(flash.contains("success")) {
            <p class="success">
            @flash.get("success")
            </p>
        }
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3 class="text-left text-info">
                    Gestione Clienti
                </h3>
                @*<div><a href="@routes.ClientiController.aggiungiCliente()">Aggiungi cliente</a></div>*@
                @*<div><a href="@routes.ClientiController.show_edit()">Modifica cliente</a></div>*@
            </div>
        </div>

        </div>
    </div>
}