@(promos: model.singleton.TopPromo)

@import tags._
@import helper._
@import views.html.helper._


@main("Aggiungi Servizi") {


    <div class="container">
        <div class="row_clearfix">

            <p>Nome promo: @promos.nome</p>
            <p>Costo promo: @promos.costo</p>
            <p>Numero Notti: @promos.numNotti</p>
            <p>Tipo camera: @promos.tipoCamera</p>

            <table class="table table-nonfluid">
                <tr>
                    <th>Servizi inclusi</th>

                </tr>
                @for(str <- promos.servizi){
                    <tr>
                        <td>@str</td>
                    </tr>
                }
            </table>
        </div>
    </div>

}